<form class="{{cssClass}} rpg-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <h1><input name="name" type="text" value="{{item.name}}" /></h1>
  </header>

  <section class="sheet-body">
    <p>Fiche générique (à compléter plus tard).</p>
  </section>
</form>
